/* Header Section */
header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 80px;
	border-bottom: black solid 1px;
	background-color: white;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}

.mytimes-logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 30px;
}

.mytimes-logo img {
	width: 70px;
	height: 60px;
	margin-left: 12px;
}

nav span {
	margin-right: 25px;
}

.mytimes-logo span {
	color: mediumAquamarine;
	margin-left: 12px;
}
/* Header Section End */